newspaper3k
Pillow
nltk
trafilatura
readability-lxml
chardet
apscheduler
aiohttp
requests
beautifulsoup4
lxml
feedparser
python-dateutil
python-dotenv
faiss-cpu
numpy
langchain-ollama
tqdm
streamlit
fitz
pymupdf
torch
sentence_transformers
rank_bm25